### Extrapolatory data analysis

In this notebook, we will perform basic data analysis and try to make ourselves familiar with data.

In [1]:
import pandas as pd
import numpy as np

In [3]:
train_dataframe = pd.read_csv('../Data/training.csv')
test_dataframe = pd.read_csv('../Data/testing.csv')

In [6]:
train_dataframe.head(2)

,Category,Date_and_Time,Keywords,Article
0,Entertainment,"\nAugust 23, 2018 16:58 IST\n",\nBring on the laughs,"A dash of stand up comedy, lots of improvisat..."
1,Entertainment,"\nSeptember 08, 2018 11:53 IST\n",\nTamannaah Bhatia to play leading lady in Sun...,Actor Tamannaah Bhatia is excited to have sig...

We will be using Category and Article columns for our purpose.

In [7]:
train_dataframe=train_dataframe[['Category','Article']]
test_dataframe=test_dataframe[['Category','Article']]

In [11]:
print ("We have {} examples in train data ".format(train_dataframe.shape[0]))
print ("We have {} examples in test data".format(test_dataframe.shape[0]))

We have 1435 examples in train data
We have 354 examples in test data

In [21]:
print (" We have total unique categories equals to  {}".format(train_dataframe['Category'].nunique()))

 We have total unique categories equals to  9

**Examples for each category** in train and test data to check if data is balanaced or not

In [17]:
pd.DataFrame(train_dataframe.groupby(by=['Category']).agg('size'),columns=['Count'])

                       Count
Category
Business & Economy       160
Education & Career       160
Entertainment            159
Food & Health            160
International            160
Others                   160
Politics & Governance    160
Science & Technology     156
Sports                   160

In [18]:
pd.DataFrame(test_dataframe.groupby(by=['Category']).agg('size'),columns=['Count'])

                       Count
Category
Business & Economy        40
Education & Career        40
Entertainment             40
Food & Health             40
International             40
Others                    40
Politics & Governance     34
Science & Technology      40
Sports                    40

In [19]:
### We have perfectly balanced dataset. We don't need to worry about data balacing and all, we can go ahead as it is.